
* {
  
}

body {
  background-color: rgb(86, 108, 179);
  margin: 0;
  padding: 0;
}

#main-container{
  background-color: darkcyan;
  height: 100vh;
  width: 75%;
  margin: 0% 13%;
  border-radius: 5%;
}

.subject-container{
  background-color: rgb(96, 98, 112);
  height: 100vh;
  width: 75%;
  /* margin: 0% 13%; */
  border-radius: 5%;
}